body {
  margin: 0;
  background-color: #1e3d35;
  color: #f2f0e9;
  font-family: 'Unna', serif;
}

/* HEADER NAV */
.navbar {
  background-color: #142d27;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #304f45;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 40px;
  margin-right: 0.75rem;
  image-rendering: pixelated;
}

.studio-name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #f2f0e9;
}

.nav-right a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #f2f0e9;
  font-weight: bold;
}

.nav-right a:hover {
  color: #e9b877;
}

/* HERO SECTION */
.hero {
  padding: 6rem 2rem;
  text-align: center;
  background-color: #1e3d35;
}

.tagline {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffe3ad;
}

.intro {
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  color: #dddcd8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background-color: #142d27;
  border-top: 2px solid #304f45;
  color: #bcbab4;
}

